h4 {
  margin-bottom: 1.38rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
  margin: 1rem;
  min-height: 80vh;
}

.text > p {
  margin: 2rem;
  padding: 1rem;
}

.text > li {
  padding: 1em 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form > label {
  line-height: 2.24rem;
  /* font-weight: bold; */
  margin-top: 2rem;
  font-size: 1.6rem;
}
.input {
  width: 30rem;
  padding: 0.7rem;
  /* margin: 0.5rem; */
  border: 0.5px solid #0d0d0d;
  border-radius: 0.25em;
}
.input::placeholder,
.input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-family: inherit;
  color: #0d0d0d;
  opacity: 0.8;
}
.input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: inherit;
  color: #ebb600;
  opacity: 0.8;
}

.formSection {
  background-color: #ebb60040;
  border-radius: 1rem;
  padding: 3rem;
  margin: 1rem;
  width: 100%;
}
.responsiveDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.formDiv {
 margin-bottom: 1rem; 
} 
@media screen and (max-width: 748px) {
  .text {
    width: 100%;
  }
  .form input {
    width: 90%;
  }
  .responsiveDiv {
    max-width: 80%;
  }
}

@media screen and (min-width: 810px) {
  .text {
    width: 800px;
    text-align: left;
  }
}
@media screen and (min-width: 1010px) {
  .text {
    width: 1000px;
    text-align: left;
  }
}
